{
    "discord_bot_token" : "see more https://discord.com/developers/docs/intro",
    "api_key_fortnite" : "see more https://github.com/Jake-Ruston/Fortnite-API-Wrapper#readme",
    "api_key_openweathermap" : "see more https://openweathermap.org/api",
    "api_key_twitch_authorization" : "see more https://dev.twitch.tv/docs/authentication",
    "api_key_twitch_client_id" : ""
}